@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contacts Manager</h1>
    <p class="lead">Simple Web app to manage contacts</p>
    <p><a href="~/Contact/Contacts" class="btn btn-primary btn-lg">Contacts &raquo;</a></p>
</div>

<div class="row">
    
</div>

<div id="container" class="pagebody">
    <h1>AddUser</h1>
    <div id="ReturnMessage"></div>
          
</div>